.alternada{
    list-style: upper-alpha;
    font-size: 30px;
    color: blueviolet;
    width: fit-content;
}
.alternada li:nth-child(odd){
    background-color: khaki;
}
.alternada li:nth-child(even){
    background-color: rgb(0, 0, 0);
}
.alternada li:hover{
    font-weight: bolder;
}